source https://api.nuget.org/v3/index.json
framework: net8.0, netstandard2.1
storage: none
strategy: min

nuget Feliz >= 3.1.0
nuget Fable.Core

group Docs
    source https://api.nuget.org/v3/index.json
    framework: net8.0
    strategy: min
    storage: none

    nuget Fable.Core
    nuget Fable.React
    nuget Feliz
    nuget alex312.Feliz.Router
    nuget Feliz.UseElmish

group Build
    source https://api.nuget.org/v3/index.json
    framework: net8.0
    strategy: min
    storage: none

    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem