version 5.249.0

source https://api.nuget.org/v3/index.json
framework: net7.0, netstandard2.0
storage: none
strategy: min

//nuget FSharp.Core >= 4.7.2
nuget Feliz >= 2.4.1

group Docs
    source https://api.nuget.org/v3/index.json
    framework: net7.0
    strategy: min
    storage: none

    nuget Fable.Core prerelease
    nuget Fable.React
    nuget Feliz
    nuget Feliz.Router
    nuget Feliz.UseElmish

group Build
    source https://api.nuget.org/v3/index.json
    framework: net7.0
    strategy: min
    storage: none

    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem